<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='misc.css')}}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        {% block scripts %}{% endblock %}
    </head>

    <body style="background-color: #202020; color: #E0E0E0">
        <div class="navbar">
            <span>All data is courtesy of <a href="https://www.marshallstreetdiscgolf.com/" target="_blank">Marshall Street Disc Golf</a></span>
            <span class="spacer"></span>
            <a class="navbarLinks" href="{{ url_for('home') }}">Home</a>
            <a class="navbarLinks" href="{{ url_for('search') }}">Search</a>
        </div>

        <div class="body-content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>