{% extends "layout.html" %}
{% block title %}
Search Discs
{% endblock %}
{% block content %}
<div class="searchContainer">
    <input type="text" id="searchDiscs" class="searchBar" value=""></input>
    <button id="selectDisc" class="selectDisc pointer">Select</button>

    <div>
        <div class="searchHeader"></div>
        <div class="searchFlightNumbersContainer">
            <span class="spacer"></span>
            <span class="searchSpeed searchFlightNumbers"></span>
            <span class="searchGlide searchFlightNumbers"></span>
            <span class="searchTurn searchFlightNumbers"></span>
            <span class="searchFade searchFlightNumbers"></span>
            <span class="spacer"></span>
        </div>
        <img class="searchImage"></img>
        <div class="searchPurchaseDisc"></div>
    </div>
    <div>
        <h2 class="relatedDiscHeader hide">Related Discs</h2>
        <div class="discContainer"></div>
    </div>
</div>

<script>
    var discs = JSON.parse('{{discs|tojson}}')

    function getDisc(name) {
        if(discs.map((x) => x.toLowerCase()).includes(name.toLowerCase())) {
            $.ajax({
                url: "{{url_for('getDisc')}}",
                data: {name: name.toLowerCase()},
                success: function(result) {
                    console.log(result)
                    $('.searchHeader')[0].innerHTML = result.brand + ' ' + result.name
                    $('.searchSpeed')[0].innerHTML = result.speed
                    $('.searchGlide')[0].innerHTML = result.glide
                    $('.searchTurn')[0].innerHTML = result.turn
                    $('.searchFade')[0].innerHTML = result.fade
                    if (result.data_picture !== '')
                        $('.searchImage')[0].src = result.data_picture
                    else
                        $('.searchImage')[0].src = './static/no_image.jpg'
                    $('.searchPurchaseDisc')[0].innerHTML = 'Available for purchase <a href="' + result.purchase_url + '" target="_blank">here</a>'
                }
            }).then(function() {
                $.ajax({
                    url: "{{url_for('getRelatedDiscs')}}",
                    data: {name: name.toLowerCase()},
                    success: function(result) {
                        $('.relatedDiscHeader')[0].classList.remove('hide')
                        let discContainer = $('.discContainer')[0]
                        discContainer.innerHTML = ''
                        result.forEach((x) => {
                            let disc = document.createElement('div')
                            disc.innerText = x.name
                            disc.classList.add('circle')
                            disc.classList.add('pointer')
                            disc.classList.add(x.distance_category.replace(' ', '-').toLowerCase())
                            disc.setAttribute('data-name', x.name)
                            discContainer.appendChild(disc)
                        })
                    }
                })
            })
        }
        else {
            console.log('no')
        }
        
    }

    $(document).ready(function () {
        const urlParams = new URLSearchParams(window.location.search);
        const nameParam = urlParams.get('name');
        console.log(nameParam)
        if(nameParam !== null) {
            $('#searchDiscs').val(nameParam)
            getDisc(nameParam)
        }
        $('.discContainer').on('click', '.circle', function(e) {
            console.log(window.location.href.split('?')[0] + '?name=' + e.target.getAttribute('data-name'))
            window.location.href = window.location.href.split('?')[0] + '?name=' + e.target.getAttribute('data-name')
        })
        $("#selectDisc").click(function (e) {
            getDisc($('#searchDiscs').val())
        })
        $("#searchDiscs").keyup(function (e) {
            if (event.keyCode === 13) {
                $('.ui-autocomplete').hide('');
                $("#selectDisc").click();
            }
        })
    })
    $(function () {
        $('#searchDiscs').autocomplete({
            source: discs,
            delay: 0,
            select: function(event, ui) {getDisc(ui.item.value)}
        })
    })
</script>
{% endblock %}